{% extends "base.html" %}

{% block title %}
  <title>Tags</title>
{% endblock %}

{% block content %}
  <h1 class="mb-4">Tags</h1>
  <ul class="list-group">
    <li class="list-group-item font-weight-bold">Name</li> <!-- Перший рядок жирним -->
    {% for tag in tag_list %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ tag.name }}</span>
      </li>
    {% empty %}
      <li class="list-group-item text-center text-muted">No tags available</li>
    {% endfor %}
  </ul>
{% endblock %}

